<header id="header" class="header">
  <div class="a-red o-fullname">
    <span class="o-name">PIYUSH </span>
    <span class="o-surname">NARKHEDE</span>
  </div>
  <nav class="nav-link">
    <a class="a-red" (click)="scrollToSection('about')">About</a>
    <a class="a-red" (click)="scrollToSection('experience')">Experience</a>
    <a class="a-red" (click)="scrollToSection('skills')">Skills</a>
    <a class="a-red" (click)="scrollToSection('education')">Education</a>
    <a class="a-red" (click)="scrollToSection('projects')">Projects</a>
  </nav>
</header>
