<section id="footer" class="default-container top-shadow-effect">
  <div class="footer-content">
    <div class="footer-content-1">
      <h2 class="footer-logo mb-4">Piyush Narkhede</h2>
      <p class="footer-description">
        Thank you for visiting my portfolio! I'm passionate about creating
        innovative solutions and bringing ideas to life through code.
      </p>
      <p class="footer-description">
        Let's connect and build something amazing together!🚀
      </p>
    </div>
    <div class="footer-content-2">
      <h3 class="footer-heading mb-4">Quick Links</h3>
      <ul class="footer-links">
        <li>
          <a href="#home"
            ><i class="bi bi-chevron-double-right pe-2"></i>Home</a
          >
        </li>
        <li>
          <a href="#about"
            ><i class="bi bi-chevron-double-right pe-2"></i>About</a
          >
        </li>
        <li>
          <a href="#experience"
            ><i class="bi bi-chevron-double-right pe-2"></i>Experience</a
          >
        </li>
        <li>
          <a href="#skills"
            ><i class="bi bi-chevron-double-right pe-2"></i>Skills</a
          >
        </li>
        <li>
          <a href="#education"
            ><i class="bi bi-chevron-double-right pe-2"></i>Education</a
          >
        </li>
        <li>
          <a href="#projects"
            ><i class="bi bi-chevron-double-right pe-2"></i>Projects</a
          >
        </li>
        <li>
          <a href="#contact"
            ><i class="bi bi-chevron-double-right pe-2"></i>Contact</a
          >
        </li>
      </ul>
    </div>
    <div class="footer-content-3">
      <h3 class="footer-heading mb-4">Contact Info</h3>
      <p class="footer-contact">
        <i class="bi bi-telephone-fill pe-2"></i>
        <a href="tel:+917420982309">+91 74209 82309</a>
      </p>

      <p class="footer-contact">
        <i class="bi bi-envelope-fill pe-2"></i>
        <a href="mailto:piyushnarkhede08@gmail.com"
          >piyushnarkhede08&#64;gmail.com</a
        >
      </p>
      <p class="footer-contact">
        <i class="bi bi-geo-alt-fill pe-2"></i>
        <a href="https://maps.app.goo.gl/H4j8LxuZmTc4oiUm7" target="_blank"
          >Pune, Maharashtra, India - 411026</a
        >
      </p>
    </div>
  </div>
  <div class="text-center">
    <!-- <div>© 2025 Piyush Narkhede. All rights reserved.</div> -->
    <!-- <div> -->
    Designed with <i class="bi bi-heart-fill heart-pulse"></i> by
    <span class="footer-bottom">Piyush Narkhede</span>
    <!-- </div> -->
  </div>
</section>
