<section id="about" class="default-container top-shadow-effect">
  <div class="heading-wrapper">
    <div class="line"></div>
    <div class="page-heading">ABOUT ME</div>
    <div class="line"></div>
  </div>
  <div class="about-content">
    <div class="about-content-1">
      <div class="question">WHO I AM?</div>
      <div class="answer">
        I’m Piyush Narkhede, a Full Stack Java Developer with 3+ years of
        experience in building scalable web applications. I specialize in Java,
        Spring Boot, Microservices, and Angular, with a strong focus on
        performance, security, and clean architecture. Passionate about solving
        real-world problems through tech, I thrive in collaborative environments
        and continuously push to learn, lead, and deliver impactful solutions.
      </div>
    </div>

    <div class="about-content-2">
      <img
        src="../../assets/piyush.jpeg"
        alt="Profile Image"
        class="profile-image"
      />
    </div>
  </div>
</section>
