.experience-card {
  display: flex;
  gap: 2rem;

  .card-detail {
    width: 50%;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;

    .card-detail {
      width: 100%;
      margin-bottom: 1rem;
    }
  }
}
