<section id="skills" class="default-container top-shadow-effect">
  <div class="heading-wrapper">
    <div class="line"></div>
    <div class="page-heading">SKILLS</div>
    <div class="line"></div>
  </div>
  <div *ngIf="images.length" class="carousel-wrapper">
    <ngb-carousel
      #carousel
      [showNavigationArrows]="false"
      [showNavigationIndicators]="false"
      [interval]="5000"
      [pauseOnHover]="pauseOnHover"
      [pauseOnFocus]="pauseOnFocus"
      (slide)="onSlide($event)"
    >
      @for (img of images; track img; let i = $index) {
      <ng-template ngbSlide>
        <div class="d-flex justify-content-center align-items-center svg-slide">
          <img
            [src]="img.src"
            class="svg-wrapper"
            alt="My image {{ i + 1 }} description"
          />
        </div>
      </ng-template>
      }
    </ngb-carousel>
  </div>
  <!-- <div class="infinite-carousel-wrapper">
    <div class="infinite-carousel-track">
      <div class="carousel-items" *ngFor="let img of repeatedImages">
        <img [src]="img.src" alt="logo" />
      </div>
    </div>
  </div> -->
</section>
