.carousel-container {
  overflow: hidden;
  width: 100%;
  padding: 1rem 0;
}

.carousel-track {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
}

.carousel-track.paused {
  animation-play-state: paused;
}

.carousel-items {
  flex: 0 0 auto;
  padding: 0 1rem;
}

.tech-card {
  width: 120px;
  height: 120px;
  background: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  text-align: center;
  padding: 1rem 0.5rem;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.03);
  transition: transform 0.3s;
  color: #fff;
  background-color: #0d1224;
}

.tech-card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.411);
}

.tech-card img {
  height: 50px;
  margin-bottom: 1rem;
}

.tech-card p {
  margin: 0;
  font-size: 0.9rem;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
